/****************************************************************
file: home-widget.css
project: Health Recalls
date: May 2013
author: P. Bustamante
****************************************************************/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 22.652px;
	color: #333333;
}

#home-widget-container { width: 471px; /* border: 1px solid #999;*/ padding:20px;}

h4, h5 {
	color: #39547a;
	font-family: "Oxygen", "Trebuchet MS", "Merriweather", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

h5 {
	font-size: 14px;
	display: block;
	-webkit-margin-before: .67em;
	-webkit-margin-after: .01em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

h3 {
	font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	line-height: 1.3;
	margin-bottom: 5.663px;
	font-weight: bold;

}

p {
	margin: 0 0 11.326px 0px;
	display: block;
	-webkit-margin-before: .1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	line-height: 18.652px;
}

a {
  color: #5278ae;
  text-decoration: none;
  -webkit-transition: 0.1s ease-out;
  -moz-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

a:hover {
  color: #39547a;
  text-decoration: underline;
}


.topic-header.small {
	font-size: 18px;
	margin-bottom: 22.652px;
	padding: 5.663px 0;
}

.topic-header {
	font-size: 36px;
	line-height: 1.5;
	margin: 0;
	border-top: 4px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}

.excerpt {
	font-family: Georgia, "Times New Roman", Times, serif;
}

.dateStamp { font: 11px Arial !important; color: #999; margin: 5px 0 5px 0; }

.indivCon {  }